<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head') %>
  <title>Reporte de Ventas</title>
</head>
<body>
  <div class="container py-5">
    <h2 class="text-center">Reporte de Ventas</h2>
    <p>Total de pedidos: <strong><%= total %></strong></p>
    <p>Ingresos del día: <strong>$<%= totalIngresos %></strong></p>
  </div>
</body>
</html>

